@model HamrahanTemplate.Application.DTOs.EducatinGradeDTO

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>EducatinGradeDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create"  asp-area="Admin" asp-controller="Grade" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" asp-action="create" asp-area="Admin" asp-controller="Grade"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
